body{
    background-image: url(../img/fondo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: #fff;
}
.img_BlackJack{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono_BJ{
    width: 20%;
    height: 20%;
}
.reglas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadrado_reglas{
    background-color: rgb(1, 75, 17);
    width: 70%;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #000;
    color: white;
}
.buttons{
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 60%;
    transform: translate(-57%, 0%);
    display: flex;
    gap: 100px;
}
.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px,5vw,1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9m;
}